/*
Custom Css
*/

/*featured product */
body {
    font-family: 'Alexandria', sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 355px;

    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container 
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}*/

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    /* background-color: #bbb; */
    color: black;
}

.flip-card-front a {
    text-decoration: none;
}


/* Style the back side */
.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.h11 {
    padding-top: 5px;
    font-family: 'Charm', cursive;
    font-size: 55px !important;
    font-weight: 500 !important;
    color: red;
    text-decoration: underline;
}

#fliphead {
    font-family: 'EB Garamond', serif;

    /* font-weight: 600; */
}

/* #fp1 {
    padding-left: 50px;
} */

/*end of featue product*/

/* -carozol main page- */
.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 500 !important;
}



#bestquality {
    font-family: 'Great Vibes', cursive;
    font-size: 105px !important;
    font-weight: 200 !important;
    color: rgb(35, 35, 160);
}

#sub {
    padding-left: 10%;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}


#sub2 {
    font-family: 'Poppins', sans-serif;
}

#sub3 {
    font-family: 'Poppins', sans-serif;
    padding-left: 20%;
}

#EPS {
    color: rgb(35, 35, 160);
    font-family: 'Kaushan Script', cursive;
    padding-left: 5%;
    padding-top: 10%;
}

#food {
    color: rgb(35, 35, 160);
    font-family: 'Kaushan Script', cursive;
    padding-left: 20%;
    padding-top: 5%;

}

#fluid2 {
    padding-bottom: 30%;
    justify-content: center;
    height: 300px;

}

.img-fluid {
    width: 500px;
    height: 450px;
    align-self: center;
}

.fluid1 {
    height: 40%;
    width: 50%;
}

/* end */

/* best sellers */
#bestseller {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#bestseller a{
    text-decoration: none;
    color: black;
}

#bestseller a h4 {
    font-family: 'EB Garamond', serif;
}

#bestseller a h4 p{
    font-family: 'Alexandria', sans-serif;
}



.cardbs {
    background: whitesmoke;
    width: 300px;
    height: 360px;
    margin: 10px;
    border-radius: 15px;
}

.cardbs-image {
    height: 200px;
    margin-bottom: 0px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.bs-1 {
    margin-left: 20px;
    height: 100%;
    width: 80%;
    /* padding-bottom: 500px; */
}

.bs-2 {
    margin-left: 20px;
    padding-top: 30px;
    height: 100%;
    width: 80%;
}

.bs-3 {
    margin-left: 25px;
    padding-left: 50px;
    /* padding-top: 30px; */

    height: 100%;
    width: 70%;
    /* padding-right: 10px; */
}

.bs-4 {
    margin-left: 50px;
    /* padding: 50%; */
    /* padding-top: 30px; */
    /* padding-bottom: 0px; */
    height: 100%;
    width: 70%;
    /* padding-right: 10px; */
}

.bs-5 {
    margin-left: 50px;
    /* padding: 50%; */
    /* padding-top: 30px; */

    height: 100%;
    width: 70%;
    /* padding-right: 10px; */
}

.bs-6 {
    margin-left: 50px;
    /* padding: 50%; */
    /* padding-top: 30px; */

    height: 100%;
    width: 70%;
    /* padding-right: 10px; */
}


.cardbs h2 {
    padding: 10px;
}

.cardbs p {
    padding-left: 10px;
}

.cardbs:hover {
    background-color: rgb(131, 173, 246);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: scale(1.05);
}

.h1 {
    margin: 20px;
}

.cardbs h4 {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

.cardbs p {
    text-align: center;
}

.h10 {
    padding-top: 50px;
    font-family: 'Charm', cursive;
    font-size: 55px !important;
    font-weight: 500 !important;
    color: red;
    text-decoration: underline;

}

.btn {
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 12px;
    margin-left: 170px;
    margin-top: 20px;

}

.btn:hover {
    color: white;
    transition: all 0.5s ease;
    transform: scale(1.05);
}

/* best sellers end */


/* navbar */

ul,
li {
    font-family: 'Poppins';
}

/* ---------Products------------ */

#kesharshop {
    width: 105.5%;
}

#pcard {
    height: 200px;
}

.card-body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.readmore,
.inquire {
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;
    font-size: 15px;
    padding: 6px;
    border: none;
    border-radius: 12%;
    background-color: rgb(234, 232, 232);
    color: black;
}

.readmore:hover,
.inquire:hover {
    /* background-color: #b43147; */
    transition: all 0.5s ease;
    transform: scale(1.05);
    /* color: white; */
}

.inquire {
    margin-left: 6px;
}

#biscuitcards {

    transition: transform 250ms;
}

#biscuitcards:hover {
    transform: translateY(-10px);
    transform: scale(1.05);
    background-color: rgb(131, 173, 246);
    color: white;
}

#cat1 {
    padding-left: 2px;
    color: red;
}

.pb-3 {
    display: flex;
}


/* ------------single page------------- */

.description {
    text-align: left;
}

.features {
    text-align: left;
}

#sibtn {
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    background-color: rgb(25, 25, 145);
    color: white;
    border: none;
}

#sibtn:hover {
    background-color: rgb(84, 84, 220);
}

.list-inline-item {
    display: inline-flex;
}

.extra {
    text-align: left;
}

#proul {
    margin-bottom: 0px;
}

#swipe {
    height: 100%;
    width: 100%;
}

#swipe:hover {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
}


#related {
    height: 100%;
    width: 100%;
}

.rmbtn {
    background-color: black;
    color: white;
    padding: 2px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: none;
}

.rmbtn:hover {
    background-color: rgb(85, 83, 83);
}

.h2 {
    padding-top: 15px;

}

.read {
    text-decoration: none;
    font-size: 15px !important;
}

.foottag {
    text-decoration: none;
}

/*----aboutus----- */

.ourorigin {
    font-family: 'Major Mono Display', monospace;

}

#back {

    background: #d9d9d9;
}

.parent {
    /* background-color: lightgray; */
    /* background: #3b5998; */
    /* border: 2px solid lightcoral; */
    width: 100%;


    padding: 20px;
    align-items: center;
}

.item2002,
.item2003,
.item2004,
.item2005,
.item2006,
.item2007 {

    border-radius: 20%;
    margin: 5px;
    background: #fff;
    color: black;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.item2002:hover,
.item2003:hover,
.item2004:hover,
.item2005:hover,
.item2006:hover,
.item2007:hover {

    /* background-color: black;
    color: #fff; */
    padding: 5px;
    transition: all 0.5s ease;
    transform: scale(1.03);
}


.example-basis .parent {
    display: flex;
    flex-direction: column;
}

.example-basis .item2002 {
    width: 500px;
    /* margin-left: 350px; */
}

.example-basis .item2003 {
    width: 400px;
    /* margin-left: 350px; */
}

.example-basis .item2004 {
    width: 445px;
    /* margin-left: 350px; */
}

.example-basis .item2005 {
    width: 390px;
    /* margin-left: 350px; */
}

.example-basis .item2006 {
    width: 480px;
    /* margin-left: 350px; */
}

.example-basis .item2007 {
    width: 410px;
    /* margin-left: 350px; */
}

#abtimg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: none;
    padding-left: none;
}

/* #blocks {
    background-color: rgb(224, 223, 223);
    width: 100%;
    height: 100%;
    margin-left: none !important;
    margin-right: none !important;
    padding-left: none !important;
    padding-right: none !important;
} */

.box {
    background-color: #fff;
}

/* CSS */
.explore-more {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .explore-more:disabled {
    pointer-events: none;
  }
  
  .explore-more:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .explore-more:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .explore-more > a{
    text-decoration: none;
    color: #fff;
  }