/* div {
    display: block;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

#footer {
    font-size: .9em;
    padding: 0;
    position: relative;
    clear: both;
}

#footer,
#footer p {
    font-size: 13px;
    line-height: 20px;
}

#footer {
    background-color: #222529;
}

#footer,
#footer p,
#footer .widget>div>ul li,
#footer .widget>ul li {
    color: #a8a8a8;
}

#footer .footer-main {
    background-color: transparent;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 991px) {
    .container {
        max-width: none;
    }
}

@media (max-width: 991px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#footer .container {
    position: relative;
}

#footer .footer-main>.container {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    /* width: 100%;/ */
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

aside {
    display: block;
}

.widget {
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

.widget:first-child {
    margin-top: 0;
}

/* ibiubiui ugbjhb hbiubn*/

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol,
ul {
    box-sizing: border-box;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.widget ul,
.widget ol {
    list-style: none;
    padding: 0;
}

.widget>div>ul,
.widget>ul {
    font-size: .9286em;
    border-bottom: 1px solid;
    margin-top: -8px;
    margin-bottom: 0;
}

.widget>div>ul,
.widget>ul {
    border-bottom-color: rgba(0, 0, 0, 0.06);
}

.list.list-icons {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

.widget.contact-info ul,
.widget.contact-info li {
    border-width: 0;
    margin: 0;
    padding: 0;
}

#footer .widget>div>ul,
#footer .widget>ul {
    font-size: 1em;
}

#footer .widget>div>ul,
#footer .widget>ul,
#footer .widget>div>ul li,
#footer .widget>ul li,
#footer .post-item-small {
    border-color: rgba(168, 168, 168, 0.3);
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li,
.porto-u-sub-heading,
.porto-sicon-description {
    line-height: 24px;
}

.list li {
    margin-bottom: 13px;
}

.widget>div>ul li,
.widget>ul li {
    position: relative;
    margin: 0;
    padding: 5px 0;
    border-top: 1px solid;
    transition: all 0.3s;
}

.widget>div>ul li,
.widget>ul li {
    border-top-color: rgba(0, 0, 0, 0.06);
}

.list.list-icons li {
    position: relative;
    padding-left: 25px;
}

.widget.contact-info ul,
.widget.contact-info li {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.widget>div>ul>li:first-child,
.widget>ul>li:first-child {
    border-top-width: 0;
}

.widget.contact-info li:not(:last-child) {
    margin-bottom: 10px;
}

#footer ul.list li {
    margin-bottom: 5px;
}

#footer,
#footer p,
#footer .widget>div>ul li,
#footer .widget>ul li {
    color: #a8a8a8;
}

#footer .widget>div>ul,
#footer .widget>ul,
#footer .widget>div>ul li,
#footer .widget>ul li,
#footer .post-item-small {
    border-color: rgba(168, 168, 168, 0.3);
}

/*----------- i -----------------*/
.widget.contact-info .contact-info-block .contact-details strong,
.widget.contact-info .contact-info-block .contact-details span {
    display: block;
    padding-left: 25px;
}

#footer .contact-details strong {
    color: #ffffff;
}

#footer .widget.contact-info .contact-details strong {
    font-weight: 400;
}

#footer .widget.contact-info .contact-details strong {
    text-transform: uppercase;
    letter-spacing: .005em;
}

#footer .widget.contact-info .contact-details strong,
#footer .widget.contact-info .contact-details span {
    line-height: 20px;
    padding-left: 0;
}

#footer .widget:last-child {
    margin-bottom: 15px;
}

.share-links {
    vertical-align: middle;
}

.share-links a {
    font-size: .8rem;
    color: #fff;
    text-indent: -9999em;
    text-align: center;
    width: 2.2857em;
    height: 2.2857em;
    display: inline-block;
    margin: 0.2857em 0.5714em 0.2857em 0;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    transition: .25s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.share-links .share-facebook {
    background: #3b5a9a;
}

.widget.follow-us .share-links a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 30%);
    transition: all 0.2s;
    font-size: 14px;
}

.widget.follow-us .share-links a:not(:hover) {
    color: #525252;
    background-color: #fff;
}

#footer a:not(.btn) {
    transition: .1s ease-in-out;
}

#footer a:not(.btn),
#footer .tooltip-icon {
    color: #a8a8a8;
}

#footer .share-links a {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #313438;
    box-shadow: none;
}

#footer .share-links a:not(:hover),
.footer-top .share-links a:not(:hover) {
    background: none;
    color: #ffffff;
}

.share-links a:before {
    font-family: 'Font Awesome 5 Brands';
    text-indent: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 23px;
    height: 22px;
    margin: auto;
    z-index: 2;
}

.share-links .share-facebook:before {
    content: "";
}

.share-links .share-twitter {
    background: #1aa9e1;
}

.share-links .share-twitter:before {
    content: "";
}

.share-links .share-instagram {
    background: #7c4a3a;
}

.share-links .share-instagram:before {
    content: "";
}

#footer .footer-bottom {
    padding: 15px 0;
    font-size: 0.9em;
    background-color: #222529;
}

#footer .footer-bottom,
#footer .footer-bottom p,
#footer .footer-bottom .widget>div>ul li,
#footer .footer-bottom .widget>ul li {
    color: #777777;
}

#footer .footer-bottom .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    #footer .footer-bottom .container {
        display: block;
    }
}

#footer .footer-bottom .footer-left {
    padding: 10px 8px 10px 0;
    text-align: left;
}

#footer .footer-bottom .container>div {
    -webkit-flex: 1;
    flex: 1;
}

@media (max-width: 991px) {
    #footer .footer-bottom .container>div {
        padding: 10px 0;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}